.div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 30px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
  }
  
  .div-container.fade-out {
    opacity: 0;
  }
  
  .div-container.visible {
    opacity: 1;
}